html{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}
.container_loader {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}